* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', Times, serif, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    background-color: white;
    padding: 10px 0;
    box-shadow: 6px 2px 2px gray;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 200px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    cursor: pointer;
    color: blue;
    transition: 0.3s;
}

main {
    display: flex;
    position: top;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
}

h2 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

span {
    color: blue;
}

.btn {
    display: block;
    background-color: transparent;
    color: #333;
    border: 3px solid #333;
    padding: 10px 15px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 3px;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}